html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #F3EFE0; font-size: 15px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #22A39F; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

.projet-git { margin-top: 40px; }

.btn-primary { background-color: #22A39F; border-color: #1c8784; }
.btn-primary:hover { background-color: #1c8784;  border-color: #1c8784; }

.icon { display: inline-block; background: url(images/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; }

.jumbotron {
	margin-bottom: 0px;
	padding: 0px;
}

.jumbotron .overlay { background-color: #22A39F; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.75; filter:alpha(opacity=75); z-index: 2; }

.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; }
.jumbotron .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.jumbotron .container .lead { font-size: 28px; }
.jumbotron .scroll-down { height: 80px; width: 125px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: #222222; text-align: center; z-index: 6; }
.jumbotron .scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron .scroll-down:hover .glyphicon { padding-top: 25px; }

.navbar  { border: 0px; background-color: #222222; position: absolute; top: 100%; right: 5%; width: 125px; z-index: 999; }
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; }
.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: #999999; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #22A39F; color: #FFFFFF; }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background: #222222; }

.fixed .navbar  { position: fixed; top: 60px; }

.background-white { background: #FFFFFF; }
.background-gray { background: #434242; }
.container { max-width: 1280px; padding: 40px 180px; }

#profil .row > div { margin-bottom: 20px; }
#profil .row > div img { width: 100%; max-width: 246px; height: auto; }

#experiences .experience { margin-bottom: 20px; }
#experiences .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experiences .experience .experience-details { display: block; margin-top: 6px; }
#experiences .experience .experience-details * { color: #22A39F; }
#experiences .experience .experience-details .seperator { color: #BCBCBC; }

#competences ul > li { min-height: 30px; padding: 3px 0px; }
##competences ul > li:hover { background: #F2F2F2; }
#competences ul > li .ability-title { display: inline-block; width: 60%; }
#competences ul > li .ability-score { float: right; }
#competences ul > li .ability-score .glyphicon {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#competences ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#competences ul > li:hover .ability-score .glyphicon { margin-left: 2px; }

#contact { padding-bottom: 200px; }
#contact h2, #contact .row * { color: #FFFFFF; }
#contact a { display: block; line-height: 32px; margin-bottom: 20px; opacity: 0.6; filter:alpha(opacity=60);  }
#contact a .icon { float: left; margin-right: 20px; }
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; }

@media (max-width: 767px) {
	.jumbotron:before {
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;
	}
	.jumbotron .container { top: 20%; padding-top: 0px; }
	.jumbotron .scroll-down { width: 100%; right: 0px; }

	.navbar  { left: 0px; width: 100%; }
	.navbar .nav > li { height: 60px; }
	.navbar .nav > li a { height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; }

	.fixed .navbar { top: 0px; }

	.container { padding: 60px 20px; min-width: 280px; }


	#profil .row * { text-align: center; }

	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }

	#contact { padding-bottom: 60px; }
	#contact a .icon { float: left; margin-right: 10px; }
}

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }

	.jumbotron .lead { display: none; }
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}


.techno {
  padding: 5px !important;
}
.techno-icon {
  max-width: 40px;
  max-height: 40px;
}

.techno-name {
  font-size: 0.8rem;
  font-weight: bold;
}

.techno-name-ctn.no-icon {
  margin-top: 15px;
}

.techno-name.no-icon {
  font-size: 1.2rem;
}

.techno-category *.panel {
  margin: 0;
  padding: 5px;
}

/* Panels */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333; }
  .panel > :first-child {
    margin-top: 0; }
  .panel > :last-child {
    margin-bottom: 0; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
    color: #333333; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
    .panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
      line-height: 1.4; }
  .panel.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #ecfaff;
    color: #333333; }
    .panel.callout > :first-child {
      margin-top: 0; }
    .panel.callout > :last-child {
      margin-bottom: 0; }
    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p, .panel.callout li, .panel.callout dl {
      color: #333333; }
    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
      line-height: 1;
      margin-bottom: 0.625rem; }
      .panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
        line-height: 1.4; }
    .panel.callout a:not(.button) {
      color: #008CBA; }
      .panel.callout a:not(.button):hover, .panel.callout a:not(.button):focus {
        color: #0078a0; }
  .panel.radius {
    border-radius: 3px; }

	[class*="block-grid-"] {
	  display: block;
	  padding: 0;
	  margin: 0 -0.625rem; }
	  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
	    content: " ";
	    display: table; }
	  [class*="block-grid-"]:after {
	    clear: both; }
	  [class*="block-grid-"] > li {
	    display: block;
	    float: left;
	    height: auto;
	    padding: 0 0.625rem 1.25rem; }

	@media only screen {
	  .small-block-grid-1 > li {
	    list-style: none;
	    width: 100%; }
	    .small-block-grid-1 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-1 > li:nth-of-type(1n+1) {
	      clear: both; }

	  .small-block-grid-2 > li {
	    list-style: none;
	    width: 50%; }
	    .small-block-grid-2 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-2 > li:nth-of-type(2n+1) {
	      clear: both; }

	  .small-block-grid-3 > li {
	    list-style: none;
	    width: 33.33333%; }
	    .small-block-grid-3 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-3 > li:nth-of-type(3n+1) {
	      clear: both; }

	  .small-block-grid-4 > li {
	    list-style: none;
	    width: 25%; }
	    .small-block-grid-4 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-4 > li:nth-of-type(4n+1) {
	      clear: both; }

	  .small-block-grid-5 > li {
	    list-style: none;
	    width: 20%; }
	    .small-block-grid-5 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-5 > li:nth-of-type(5n+1) {
	      clear: both; }

	  .small-block-grid-6 > li {
	    list-style: none;
	    width: 16.66667%; }
	    .small-block-grid-6 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-6 > li:nth-of-type(6n+1) {
	      clear: both; }

	  .small-block-grid-7 > li {
	    list-style: none;
	    width: 14.28571%; }
	    .small-block-grid-7 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-7 > li:nth-of-type(7n+1) {
	      clear: both; }

	  .small-block-grid-8 > li {
	    list-style: none;
	    width: 12.5%; }
	    .small-block-grid-8 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-8 > li:nth-of-type(8n+1) {
	      clear: both; }

	  .small-block-grid-9 > li {
	    list-style: none;
	    width: 11.11111%; }
	    .small-block-grid-9 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-9 > li:nth-of-type(9n+1) {
	      clear: both; }

	  .small-block-grid-10 > li {
	    list-style: none;
	    width: 10%; }
	    .small-block-grid-10 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-10 > li:nth-of-type(10n+1) {
	      clear: both; }

	  .small-block-grid-11 > li {
	    list-style: none;
	    width: 9.09091%; }
	    .small-block-grid-11 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-11 > li:nth-of-type(11n+1) {
	      clear: both; }

	  .small-block-grid-12 > li {
	    list-style: none;
	    width: 8.33333%; }
	    .small-block-grid-12 > li:nth-of-type(1n) {
	      clear: none; }
	    .small-block-grid-12 > li:nth-of-type(12n+1) {
	      clear: both; } }
	@media only screen and (min-width: 40.0625em) {
	  .medium-block-grid-1 > li {
	    list-style: none;
	    width: 100%; }
	    .medium-block-grid-1 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-1 > li:nth-of-type(1n+1) {
	      clear: both; }

	  .medium-block-grid-2 > li {
	    list-style: none;
	    width: 50%; }
	    .medium-block-grid-2 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-2 > li:nth-of-type(2n+1) {
	      clear: both; }

	  .medium-block-grid-3 > li {
	    list-style: none;
	    width: 33.33333%; }
	    .medium-block-grid-3 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-3 > li:nth-of-type(3n+1) {
	      clear: both; }

	  .medium-block-grid-4 > li {
	    list-style: none;
	    width: 25%; }
	    .medium-block-grid-4 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-4 > li:nth-of-type(4n+1) {
	      clear: both; }

	  .medium-block-grid-5 > li {
	    list-style: none;
	    width: 20%; }
	    .medium-block-grid-5 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-5 > li:nth-of-type(5n+1) {
	      clear: both; }

	  .medium-block-grid-6 > li {
	    list-style: none;
	    width: 16.66667%; }
	    .medium-block-grid-6 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-6 > li:nth-of-type(6n+1) {
	      clear: both; }

	  .medium-block-grid-7 > li {
	    list-style: none;
	    width: 14.28571%; }
	    .medium-block-grid-7 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-7 > li:nth-of-type(7n+1) {
	      clear: both; }

	  .medium-block-grid-8 > li {
	    list-style: none;
	    width: 12.5%; }
	    .medium-block-grid-8 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-8 > li:nth-of-type(8n+1) {
	      clear: both; }

	  .medium-block-grid-9 > li {
	    list-style: none;
	    width: 11.11111%; }
	    .medium-block-grid-9 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-9 > li:nth-of-type(9n+1) {
	      clear: both; }

	  .medium-block-grid-10 > li {
	    list-style: none;
	    width: 10%; }
	    .medium-block-grid-10 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-10 > li:nth-of-type(10n+1) {
	      clear: both; }

	  .medium-block-grid-11 > li {
	    list-style: none;
	    width: 9.09091%; }
	    .medium-block-grid-11 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-11 > li:nth-of-type(11n+1) {
	      clear: both; }

	  .medium-block-grid-12 > li {
	    list-style: none;
	    width: 8.33333%; }
	    .medium-block-grid-12 > li:nth-of-type(1n) {
	      clear: none; }
	    .medium-block-grid-12 > li:nth-of-type(12n+1) {
	      clear: both; } }
	@media only screen and (min-width: 64.0625em) {
	  .large-block-grid-1 > li {
	    list-style: none;
	    width: 100%; }
	    .large-block-grid-1 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-1 > li:nth-of-type(1n+1) {
	      clear: both; }

	  .large-block-grid-2 > li {
	    list-style: none;
	    width: 50%; }
	    .large-block-grid-2 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-2 > li:nth-of-type(2n+1) {
	      clear: both; }

	  .large-block-grid-3 > li {
	    list-style: none;
	    width: 33.33333%; }
	    .large-block-grid-3 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-3 > li:nth-of-type(3n+1) {
	      clear: both; }

	  .large-block-grid-4 > li {
	    list-style: none;
	    width: 25%; }
	    .large-block-grid-4 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-4 > li:nth-of-type(4n+1) {
	      clear: both; }

	  .large-block-grid-5 > li {
	    list-style: none;
	    width: 20%; }
	    .large-block-grid-5 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-5 > li:nth-of-type(5n+1) {
	      clear: both; }

	  .large-block-grid-6 > li {
	    list-style: none;
	    width: 16.66667%; }
	    .large-block-grid-6 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-6 > li:nth-of-type(6n+1) {
	      clear: both; }

	  .large-block-grid-7 > li {
	    list-style: none;
	    width: 14.28571%; }
	    .large-block-grid-7 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-7 > li:nth-of-type(7n+1) {
	      clear: both; }

	  .large-block-grid-8 > li {
	    list-style: none;
	    width: 12.5%; }
	    .large-block-grid-8 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-8 > li:nth-of-type(8n+1) {
	      clear: both; }

	  .large-block-grid-9 > li {
	    list-style: none;
	    width: 11.11111%; }
	    .large-block-grid-9 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-9 > li:nth-of-type(9n+1) {
	      clear: both; }

	  .large-block-grid-10 > li {
	    list-style: none;
	    width: 10%; }
	    .large-block-grid-10 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-10 > li:nth-of-type(10n+1) {
	      clear: both; }

	  .large-block-grid-11 > li {
	    list-style: none;
	    width: 9.09091%; }
	    .large-block-grid-11 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-11 > li:nth-of-type(11n+1) {
	      clear: both; }

	  .large-block-grid-12 > li {
	    list-style: none;
	    width: 8.33333%; }
	    .large-block-grid-12 > li:nth-of-type(1n) {
	      clear: none; }
	    .large-block-grid-12 > li:nth-of-type(12n+1) {
	      clear: both; } }
